.app {
  background: #D9D9D9;
  height: 100vh;
  font-family: 'Roboto Serif';
}

::-webkit-scrollbar {
  height: 0.8vh;
  width: 0.8vh;
}

::-webkit-scrollbar-track {
  background: #D9D5C9;
}

::-webkit-scrollbar-thumb {
  background: #4A4A4A;
}
.selected {
  color: #675858 !important;
  border-bottom: 1px solid #675858 !important;
}
.flex {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}
input {
  min-width: 200px;
  width: 75%;
  background: #D9D5C9;
  padding: 2%;
  border-radius: 10px;
  border: none;
}
button {
  padding: 6px 12px;
  border-radius: 20px;
  border: 1px solid #4A4A4A;
  margin: 4px;
  cursor: pointer;
  transition: 0.2s;
  background: none;
  font-size: 1rem;
}
button.active {
  background: #007bff;
  color: white;
  border-color: #007bff;
}
select {
  background: #D9D5C9;
  border: none;
  border-radius: 10px;
  padding: .4rem 1.2rem;
}