.groupContainer {
  padding: 2rem;
  background: #D9D5C9;
  border-radius: 25px;
  min-width: fit-content;
}
.groupName {
  font-size: 24px;
  color: #675858;
  text-align: left;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}
.groupedTasks {
  display: flex;
  gap: 2rem;
  max-height: 95%;
}