.loginContainer {
  background: #EDE7DA;
  display: block;
  justify-self: center;
  min-width: 20%;
  min-height: 300px;
  padding: 2rem;
  border-radius: 25px;
  font-size: 24px;
  color: #675858;
  position: absolute;
  top: 20%;
  left: clamp(0, calc(10vw - 10%), 30%);
  right: clamp(0, calc(10vw - 10%), 30%);
}
.loginHeader {
  padding-bottom: 1rem;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}
.loginHeaderText {
  padding-bottom: .5rem;
  color: #b1aca0;
  cursor: pointer;
  width: 50%;
  border-bottom: 1px solid #b1aca0;
}