.body {
  padding: 0 2rem;
  position: absolute;
  top: 12%;
  bottom: 0;
  left: 0;
  right: 0;
}
.taskArea {
  overflow: auto;
  position: absolute;
  padding-top: 2rem;
  display: flex;
  gap: 2rem;
  top: 10%;
  bottom: 0;
  left: 2%;
  right: 2%;
}
.filters {
  display: flex;
  gap: 2rem;
}
.filterType {
  padding: 1rem;
  background: #D9D5C9;
  border-radius: 25px;
}
.options {
  display: flex;
  justify-content: space-between;
}
.newButton {
  padding: 1rem;
  background: #D9D5C9;
  border-radius: 25px;
}
.manageButtons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}