.body {
  padding: 0 2rem;
  position: absolute;
  top: 12vh;
  bottom: 0;
  left: 0;
  right: 0;
}
.options {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  height: 8.8vh;
  max-height: 8.8vh;
}
.taskAreaContainer {
  padding-top: 2vh;
  overflow: auto;
  gap: 2rem;
  height: 77.2vh;
  max-height: 77.2vh;
}
.taskArea {
  display: flex;
  gap: 2rem;
  max-height: 100%;
}
.filters {
  display: flex;
  gap: 2rem;
}
.filter {
  padding: 6px 12px;
  border-radius: 20px;
  border: 1px solid #4A4A4A;
  margin: 4px;
  cursor: pointer;
  transition: 0.2s;
}
.filter.active {
  background: #007bff;
  color: white;
  border-color: #007bff;
}
.filterContainer {
  display: flex;
  gap: 2rem;
}
.filterType {
  padding: 1rem;
  background: #D9D5C9;
  border-radius: 25px;
}
.newButton {
  padding: 1rem;
  background: #D9D5C9;
  border-radius: 25px;
}
.manageButtons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

@media screen and (max-width: 600px) {
  .filterContainer {
    flex-direction: column;
    gap: .4rem;
  }
}