.background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(1, 1, 1, 0.7);
  z-index: 20;
}
.dialogContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #EDE7DA;
  z-index: 21;
  border-radius: 25px;
  width: fit-content;
}
.dialogHeader {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  padding: 2rem;
  border-bottom: 1px solid #675858;
  font-size: 1.8rem;
  color: #675858;
}
.closeIcon {
  cursor: pointer;
}
.dialogContent {
  padding: 2rem;
  font-size: 1.2rem;
}
.buttons {
  display: flex;
  justify-content: right;
}
.button {
  margin-top: 1.5rem;
  display: flex;
  justify-content: right;
}