.taskHeader {
  display: flex;
  width: 100%;
}
.dialogHeaderText {
  min-width: fit-content;
  padding: .5rem;
  color: #675858;
  cursor: pointer;
  width: 50%;
  border-bottom: 1px solid #675858;
}
.newSteps {
  display: flex;
  justify-content: space-between;
}