.buttonContainer {
    background-color: #D9D9D9;
    width: fit-content;
    padding: 1% 2%;
    border-radius: 10px;
    box-shadow: 1px 2px black;
    
}
.buttonContainer:hover {
    cursor: pointer;
}
.buttonContainer:active {
    box-shadow: -1px -2px black;
}

.buttonText {
    font-family: 'Roboto Serif';
    font-size: 16px;
    display: flex;
    color: #675858;
}