.buttonContainer {
  background-color: #D9D9D9;
  width: fit-content;
  padding: .25rem .5rem;
  border-radius: 25px;
  box-shadow: 1px 2px black;
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
}
.buttonContainer:hover {
  cursor: pointer;
}
.buttonContainer:active {
  box-shadow: -1px -2px black;
}

.buttonText {
  font-size: 1.2rem;
  color: #675858;
  text-align: center;
  width: 100%;
}